body {
    background-color: rgb(30, 30, 30)
}

/* ======================== TITLE ANIMATION ======================== */

h4 {
  color: hsl(0, 0%, 100%);
  font-size: 50px;
  font-weight: hold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer;
}

h4:hover span:nth-child(1) {
  margin-right: 5px;
}

h4:hover span:nth-child(2) {
  margin-right: 5px;
}

h4:hover span {
  color:#78f478;
  text-shadow: 0 0 10px (0, 0%, 100%), 0 0 10px (0, 0%, 100%), 0 0 10px (0, 0%, 100%);
}

h4 open{
  transition: 0.8s ease-out;
}

/* ======================== TITLE ANIMATION ======================== */

/* ============================ NAVBAR =============================== */

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #652323;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 5%;
}

.logo{
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size:22px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 35%;
}

.nav-links li{
  list-style:none;
  
}
.nav-links a{
  color: rgb(226,226,226);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight:bold;
  font-size:14px;
}

.burger{
  display:none;
  cursor: pointer;
}

.burger div{
  width:25px;
  height:3px;
  background-color:#fff;
  margin: 5px;
  transition: all 0.3s ease
  
}

/* ============================ NAVBAR =============================== */


/*======================== DIFFERENT SCREENS ======================== */

@media screen and (max-width:1024px){
  .nav-links{
    width:60%;
  }
}


h4 {
  color: hsl(0, 0%, 100%);
  font-size: 30px;
  font-weight: hold;
  text-align: center;
  font-family: monospace;
  cursor: pointer;
}

/*======================= DIFFERENT SCREENS ========================= */

@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }

  h4 {
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    font-weight: hold;
    font-family: monospace;
    cursor: pointer;
  }
  

  .nav-links{
    position:absolute;
    right:0px;
    height:92vh;
    top: 8vh;
    background-color:#652323;
    display:flex;
    flex-direction: column;  
    align-items: center;
    width:30%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display:block;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity:0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-40deg) translate(-5px,6px);
}

.toggle .line2{
  transform: rotate(90deg) translate(0px,0px);
}

.toggle .line3{
  transform: rotate(35deg) translate(-5px,-6px);
}

/* ==================================== NAVBAR ====================================== */


/* ==================================== MAP ====================================== */

iframe{
  width: 100%;
  height: 500px;
  align-items: center;
  
}

/* ==================================== MAP ====================================== */

/* ==================================== FOOTER ====================================== */

footer {
  position:relative;
  width:100%;
  background:#3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100%;

}

footer .social_icon, 
footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;

}

footer social_icon li,
footer .menu li {
  list-style: none;
}

footer social_icon li a,
footer .menu li a {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .menu li a {
  font-size: 1.2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  transition: 0.75s;

}

footer .menu li a:hover {
  opacity: 1;
}

footer p{
  color:#fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;

}

footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave.png);
  background-size: 1000px 100px;

}

footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;

}

footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave 4s linear infinite;

}

footer .wave#wave3 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave 4s linear infinite;

}

footer .wave#wave4 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave 4s linear infinite;

}

@keyframes animationWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes animationWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
/* ==================================== FOOTER ====================================== */